@charset "UTF-8";
@font-face {
    font-family: 'fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
    
}

div#interface{
    margin: -22px auto 0px auto;
    background-color: white;
    width: 1000px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
}

img#icone{
    position: absolute;
    left: 750px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url('../imagens/glass-logo-peq.jpg') no-repeat 0px 90px;

}

header#cabecalho h1{
    font-family: 'fontelogo', Helvetica, sans-serif;
    color: #606060;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
}

header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-size: 12pt;
    background-color: white;
    
}

#h1{
    font-family: 'fontelogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    
}

.h2{
    font-size: 13pt;
    margin: 0px;
    background-color: #ffffff;
    color: #cecece;
}

#h3{
    font-size: 12px;
    color: #606060;
    text-align: right;
}

nav{
    display: block;
}


nav h1 {
    display: none;
}

ul#nav{
    display: flex;
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav li{
    display: inline-block;
    padding: 10px;
    background-color: #ddd;
    margin-left: 10px;
    flex-direction: row;
    align-items:flex-end ;
    
}

nav li:hover{
    background-color: #606060;
    transform: translate(-2px, -2px);

}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: white;
}

section#corpo{
    display: block;
    width: 540px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 15px;
}

h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 0px;
    margin: 10px 0 px 10x 0px;
}

table#spec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;

}

table#spec{
    color: #888888;
    font-size: 13pt ;
    font-weight: bolder;
}
span{
    display: block;
    float: right;
    color:black;
    margin-top: 10px;
    font-size: 8pt;
}
td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: left;
    background-color: #cecece;
}

.cd{
    color: white;
    background-color: red;
    text-align: right;
    background-color: #606060;
    font-weight: bold;
}


aside{
    display: block;
    width: 400px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}

aside#lateral h1{
    font-family: 'fontelogo', sans-serif;
    color: #606060;
    font-size: 20pt;
    margin: 0px;
}

aside#lateral h2{
    font-size: 13pt;
    color: white;
    background-color: #606060;
    padding: 5px;
}


p{ text-align: justify;
    text-indent: 50px;    
}

a{
    text-decoration: none;
    color: #606060;
}

a:hover{
    text-decoration:underline ;
}

figure img {
    border-top: 1px #606060  solid ;
    width: 100%;
    height: 100%;
    
}


footer{
    clear: both;
    border-top: 1px solid #606060;
}

@media screen and (orientation: portrait) {
    
}

@media screen and (orientation: landscape) {
    
}